<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Daniel Ho">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>
<body>
    <header>
        <h1>Explore</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>
    <div class="main">
        <h2>Explore</h2>
        <img src="../assets/MonoMuse.png" alt="MonoMuse Museum" style = "width: 420px; height: 300px;"> 
        <h3>Discover MonoMuse</h3>
        <p>Founded in 2000, MonoMuse has been a beacon of innovation and creativity for just over a quarter of a century. Since then, countless visitors have been inspired by our numerous exhibitions and interactive installations.</p>
        <h3>Mission Statement</h3>
        <p>Our mission is to inspire curiosity and creativity through the intersection of art, technology, and human experience.</p>
        <h3>Milestones</h3>
        <ul>
            <li>2000: MonoMuse opens its doors to the public.</li>
            <li>2005: Launch of the first interactive digital art installation.</li>
            <li>2010: Introduction of virtual reality experiences.</li>
            <li>2015: Expansion to include a dedicated space for emerging artists.</li>
            <li>2020: Launch of the MonoMuse mobile app for enhanced visitor engagement.</li>
        </ul>
        <footer>
            <p>&copy; 2026 MonoMuse. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>