<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Daniel Ho">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <link rel="stylesheet" href="../static/style.css">
    <title>MonoMuse</title>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a id="navselected" href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>
    <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
    <div class="main">
        <h2>Exhibition 1: Digital Horizons</h2>
        <p>This immersive exhibition explores the boundaries between the physical and digital worlds, showcasing how technology is reshaping our understanding of art and creativity. Enter into its groundbreaking timeline room to journey through the evolution of digital art and its impact on contemporary culture.</p>
        <h2>Exhibition 2: Innovation Lab</h2>
        <p>Step into the Innovation Lab, where cutting-edge technology meets artistic expression. This interactive space invites visitors to experiment with virtual reality, augmented reality, and AI-driven art installations, fostering a hands-on experience that blurs the lines between creator and audience.</p>
        
    </div>
    <footer>
        <p>&copy; 2026 MonoMuse. All rights reserved.</p>
    </footer>
</body>
</html>