<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <script src="../static/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Daniel Ho">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <link rel="stylesheet" href="../static/style.css">
    <title>MonoMuse</title>
</head>

<body onload="addYear()">
    <div class="container">
    <header class="header">
        <img id="logo" src="../static/images/monomuselogo.png" alt="MonoMuse Museum Logo">
    </header>
    <nav class="nav_bar">
        <a href="../index.html">Home</a>
        <a href="../views/explore.html">Explore</a>
        <a href="../views/exhibitions.html">Exhibitions</a>
        <a href="../views/buytickets.html">Buy Tickets</a>
        <button class="hamburger" onclick = "toggleMenu()">&#9776</button>
    </nav>
    
    <main class="main">
        <div>
            <h2>Order Confirmation</h2>
            <script>const price = localStorage.getItem("totalPrice");</script>
            <p>Thank you for your order! Your total is $<script>document.write(price);</script>. If you selected that you would like to make a donation, we will be in touch with you shortly.</p>
        </div>
    </main>
    <footer class="footer">
        <p>&copy;<span id="copyYear"></span>MonoMuse. All rights reserved.</p>        
    </footer>
    </div>
</body>

</html>